<p>Users#show</p>

<%= render 'list', user:@user, book:@book %>

<h3>Books</h3>

<% @books.each do |book| %>
<div>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <%= link_to "title", book_path(book.id) %>
    <%= book.title %>
    <p>Opinion:<%= book.body %></p>
    <p>name:<%= book.user.name %></p>
</div>

<% end %>