<p>Books#show</p>

<%= render 'users/list', user: @user, book: @book %>

<h3>Book detail</h3>
<div>
    <%= image_tag @book.user.get_profile_image(100,100) %>

    <p>Title:<%= @book.title %></p>
    <p>Opinion:<%= @book.body %></p>
    <p>name:<%= @book.user.name %></p>
     <%= link_to 'Edit', edit_book_path(@book.id) %>
     <% if @book.user == current_user %>
      <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
</div>