<p>Books#show</p>


<%= form_with model: Book.new do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>

<h4>Opinion</h4>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>

<% @books.each do |book| %>

<p>タイトル</p>
<span><%= book.title %></span>

<% end %>

<h3>Book detail</h3>
<div>
    <%= image_tag @book.user.get_profile_image(100,100) %>
    <% @books.each do |book| %>
    <p>Title:<%= book.title %></p>
    <p>Opinion:<%= book.body %></p>
    <p>name:<%= book.user.name %></p>
     <%= link_to 'Edit', edit_book_path(book.id) %>
     <% if @book.user == current_user %>
      <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
  <% end %>
</div>